.cover__subtitle {
  margin: 32px 0 0;
  padding: 0;
  max-width: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (768 - 320)));
    line-height: calc(16px + (22 - 16) * ((100vw - 320px) / (768 - 320)));
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    margin-top: 16px;
    max-width: 260px;
  }
}