.cover {
  position: relative;
  max-width: 1184px;
  min-width: 320px;
  min-height: 740px;
  margin: 0 auto;
  padding: 0;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cover::before {
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1280px) {
  .cover {
    width: 100%;
    height: calc(200px + (740 - 200) * ((100vw - 320px) / (1280 - 320)));
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    min-height: 200px;
  }
}