.cover__title {
  margin: 0;
  padding: 0;
  max-width: 560px;
  min-width: 250px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: calc(32px + (72 - 32) * ((100vw - 320px) / (768 - 320)));
    line-height: calc(35px + (76 - 35) * ((100vw - 320px) / (768 - 320)));
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    width: 250px;
  }
}